[Desktop Entry]
Encoding=UTF-8
Name=Fujicoin
Comment=Fujicoin P2P Cryptocurrency
Comment[fr]=Fujicoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Fujicoin, eşten eşe kriptografik sanal para birimi
Exec=fujicoin-qt %u
Terminal=false
Type=Application
Icon=fujicoin128
MimeType=x-scheme-handler/fujicoin;
Categories=Office;Finance;
